.companyStory {
  background-color: $darkBlue;
  color: $white;
  text-align: center;
  font-size: 1.3rem;
  padding: 5rem 1rem;

  @include desktop {
    padding-top: 6rem;
    padding-bottom: 8rem;
  }

  p {
    margin: 0 auto;
    padding-bottom: 3rem;
    @include desktop {
      max-width: 630px;
    }
  }

  a {
    text-decoration: none;
    border: 2px solid $lightBlue;
    padding: 0.8rem 2rem;
    color: $lightBlue;
  }
}
