
header{
    background: $darkBlue;
    display: flex;
  
#logo{
    width: 128px;
    height: 82px;
    margin:  14px;
}

.headerText{
    color: $white;
    margin-top: 20px;
    font-size: 0.85rem;
    width: 70px;

} 
@include desktop{
   .headerText{
    width: auto;
    font-size: 1.2rem;
    padding-top: 2.4rem;
   }
}
}
