
header{
    background: #011827;
    display: flex;
    width: 100%;


#logo{
    width: 128px;
    height: 82px;
    margin:  14px;
}
#headerText{
    color: white;
   margin-top: 10px;
}
.headerText{
    width: 70px;
   
} 
}
